<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Alert</h1>
    <ul>
      <% alerts.each do |alert| %>
        <li><%= alert %></li>
      <% end %>
    </ul>
  </body>
</html>
